//colors

$white:#fff;
$isabelline:#ececec;
$light-gray:#d1d1d1;
$smoky-black:#0c0910;
$granite-gray:#646266;
$quick-silver:#a6a5a8;


//typography

$tipo-1: 'Old Standard TT', serif;
$tipo-2: 'Raleway', sans-serif;


//typography weight

$regular:400;
$bold: 700;



//font sizes

$xxx-large:50px;
$xx-large: 30px;
$x-large: 20px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;


//media query

//breakpoint

$small: 300px;
$tablet:768px;

@media screen and (min-width: $small){

}

@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 992px) {

}